.sectionAddTodo{
    height: 157px;
    background-color: #EDEDED;
    padding: 26px 23px;
    margin-bottom: 6px;
}

.addTodoTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.addTodoWrappen{
position: relative;
display: inline-block;
}
.addTodoInput{
width: 297px;
height: 55px;
background: #FFFFFF;
border-radius: 5px;
padding-left: 17px;
border: none;
}
@media (min-width: 1200px) {
 .addTodoInput{
    width: 457px;
 }
 .sectionAddTodo{
    margin-right: 33px;
}
}
.addTodoButton{
position: absolute;
top: 7px;
right: 7px;
background: #00B3DB;
border-radius: 5px;
width: 46px;
height: 41px;
border: none;
color: #FFFFFF;
}